<div class="inner">
  <mat-form-field class="example-full-width">
    <input
      matInput
      autocomplete="off"
      type="text"
      class="todo-input"
      placeholder="Введите название..."
      [(ngModel)]="todoTitle"
      (keydown.enter)="addTodo()"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input
      matInput
      type="number"
      class="todo-input"
      placeholder="Введите цену..."
      [(ngModel)]="todoPrice"
      (keydown.enter)="addTodo()"
      min="0"
      max="1000000"
    />
  </mat-form-field>
  <div class="buttonsAddClear mt-3">
    <button mat-raised-button (click)="addTodo()">
      Добавить
    </button>
    <button mat-raised-button (click)="clearTodoList()">
      Очистить список
    </button>
  </div>

  <table mat-table [dataSource]="todos" class="mat-elevation-z8 mt-5">
    <!-- Item Column -->
    <ng-container matColumnDef="Название">
      <th class="text-center" mat-header-cell *matHeaderCellDef>Название</th>
      <td class="text-center" mat-cell *matCellDef="let todo">
        <div
          *ngIf="!todo.editing.editingTitle; else editingTodoTitle"
          [ngClass]="{ completed: todo.completed }"
          (dblclick)="editTodoTitle(todo)"
        >
          {{ todo.title }}
        </div>
        <ng-template #editingTodoTitle>
          <div>
            <mat-form-field style="width: 50%;">
              <input
                matInput
                type="text"
                [(ngModel)]="todo.title"
                (mouseleave)="doneEditTitle(todo)"
                (keyup.enter)="doneEditTitle(todo)"
                (keyup.escape)="cancelEditTitle(todo)"
                autofocus
                maxlength="40"
              />
            </mat-form-field>
          </div>
        </ng-template>
      </td>
      <td class="text-center" mat-footer-cell *matFooterCellDef>
        <strong>Всего:</strong>
      </td>
    </ng-container>

    <!-- Cost Column -->
    <ng-container matColumnDef="Цена">
      <th class="text-center" mat-header-cell *matHeaderCellDef>Цена</th>
      <td class="text-center" mat-cell *matCellDef="let todo">
        <div
          *ngIf="!todo.editing.editingPrice; else editingTodoPrice"
          [ngClass]="{ completed: todo.completed }"
          (dblclick)="editTodoPrice(todo)"
        >
          {{ todo.price | currency }}
        </div>
        <ng-template #editingTodoPrice>
          <div>
            <mat-form-field style="width: 50%;">
              <input
                matInput
                type="number"
                [(ngModel)]="todo.price"
                (mouseleave)="doneEditPrice(todo)"
                (keyup.enter)="doneEditPrice(todo)"
                (keyup.escape)="cancelEditPrice(todo)"
                autofocus
              />
            </mat-form-field>
          </div>
        </ng-template>
      </td>
      <td class="text-center" mat-footer-cell *matFooterCellDef>
        <strong>{{ sum() | currency }}</strong>
      </td>
    </ng-container>

    <ng-container matColumnDef="Куплено">
      <th class="text-center" mat-header-cell *matHeaderCellDef>Куплено</th>
      <td class="text-center" mat-cell *matCellDef="let todo">
        <mat-checkbox
          [(ngModel)]="todo.completed"
          (click)="completedTodos(todo)"
        ></mat-checkbox>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="Удалить">
      <th class="text-center" mat-header-cell *matHeaderCellDef></th>
      <td class="text-center" mat-cell *matCellDef="let todo">
        <button
          [ngClass]="{ completedBtn: todo.completed }"
          class="btnDelete"
          mat-raised-button
          (click)="deleteT(todo)"
        >
          Удалить
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="Добавил">
      <th class="text-center" mat-header-cell *matHeaderCellDef>Добавил</th>
      <td class="text-center" mat-cell *matCellDef="let todo">
        {{ todo.user }}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</div>

<div class="logout text-center mt-5">
  <button mat-raised-button (click)="this.logOutUser()">
    Выйти
  </button>
</div>
