<div
  class="d-td"
  *ngIf="!todo.editing.editingTitle; else editingTodoTitle"
  [ngClass]="{ completed: todo.completed }"
  (dblclick)="editTodoTitle(todo)"
>
  {{ todo.title }}
</div>
<ng-template #editingTodoTitle>
  <div class="d-td">
    <input
      type="text"
      [(ngModel)]="todo.title"
      (blur)="doneEditTitle(todo)"
      (keyup.enter)="doneEditTitle(todo)"
      (keyup.escape)="cancelEditTitle(todo)"
      autofocus
    />
  </div>
</ng-template>
<div
  class="d-td"
  *ngIf="!todo.editing.editingPrice; else editingTodoPrice"
  [ngClass]="{ completed: todo.completed }"
  (dblclick)="editTodoPrice(todo)"
>
  {{ todo.price }}
</div>
<ng-template #editingTodoPrice>
  <div class="d-td">
    <input
      type="number"
      [(ngModel)]="todo.price"
      (blur)="doneEditPrice(todo)"
      (keyup.enter)="doneEditPrice(todo)"
      (keyup.escape)="cancelEditPrice(todo)"
      autofocus
    />
  </div>
</ng-template>
<div class="d-td">
  <mat-checkbox [(ngModel)]="todo.completed"></mat-checkbox>
</div>
<div class="d-td" [ngClass]="{ completedBtn: todo.completed }">
  <button class="btnDelete" mat-raised-button (click)="deleteT(todo)">
    Удалить
  </button>
</div>
