// td {
//   padding: 10px 20px;
//   text-align: center;
// }

// .todo-item-title {
//   padding: 10px;
//   border: 1px solid white;
//   margin-left: 12px;
// }
.completed {
  text-decoration: line-through;
  color: grey;
}
.completedBtn {
  .mat-raised-button {
    background: #32cd32;
  }
}

.d-td {
  display: table-cell;
  text-align: center;
  font-size: 17px;
  background: whitesmoke;

  vertical-align: middle;
}
.d-td:not(.no-p) {
  padding: 4px;
}
